<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
>
  <!--读取数据库配置信息 -->
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list merge="default">
        <value>/WEB-INF/database.properties</value>
      </list>
    </property>
  </bean>

  <!-- 正式库 -->
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="false">
    <property name="driverClassName" value="${jdbc.mysql.driverClassName}"/>
    <property name="url" value="${mainDB.jdbc.mysql.url}"/>
    <property name="username" value="${mainDB.jdbc.mysql.username}"/>
    <property name="password" value="${mainDB.jdbc.mysql.password}"/>
    <property name="initialSize" value="30"/>
    <property name="maxActive" value="50"/>
    <property name="maxWait" value="60000"/>
    <property name="poolPreparedStatements" value="true"/>
    <property name="maxOpenPreparedStatements" value="30"/>
    <property name="testOnBorrow"><value>false</value></property>
    <property name="validationQuery"><value>select 1 from dual</value></property>
  </bean>
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="sqlSessionFactory" class="com.spiritdata.framework.ext.spring.mybatis.MySqlSessionFactoryBean">
    <property name="configLocations">
      <list merge="default">
        <value>classpath*:mybatisConfig/frameworkMybatis.xml</value>
        <value>classpath*:mybatisConfig/*.mappers.cfg.xml</value>
      </list>
    </property>
    <property name="databaseType" value="MySql"/>
    <property name="dataSource" ref="dataSource"/>
    <property name="transactionFactory">
      <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />
    </property>
  </bean>
  <bean id="defaultDAO" class="com.spiritdata.framework.core.dao.mybatis.MybatisDAO" scope="prototype" init-method="initialize">
    <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
  </bean>

  <!-- 以下为UGA框架所需配置 -->
  <!--Uga用户服务：平台 -->
  <bean id="ugaUserService"      class="com.spiritdata.passport.UGA.service.UserService"/>
  <!--Uga用户权限服务：平台 -->
  <bean id="ugaAuthorityService" class="com.spiritdata.passport.UGA.service.AuthorityService"/>

  <!-- 平台缓存池-->
  <bean id="cachePool" class=" com.spiritdata.framework.core.cache.CachePool">
    <property name="caches">
      <map>
      </map>
    </property>
  </bean>
  <!-- 以下为web环境Session加载的定义 -->
  <!-- session加载器外壳 -->
  <bean id="sessionLoaderShell" class="com.spiritdata.framework.core.web.SessionLoaderShell">
    <property name="sessionLoaderList">
      <list>
      </list>
    </property>
  </bean>
</beans>